<div class="container mt-4">
    <div class="row align-items-center justify-content-center">
        <div class="col-12 col-md-8 text-center">
            <h1 class="mt-4 fw-medium">Avaliação Angular</h1>
        </div>
    </div>
    <div class="text-center mt-2">
        <img src="https://angular.io/assets/images/logos/angular/angular.png" alt="Logotipo do Angular" class="logo-angular">
    </div>

    <div class="fst-normal mt-5">
        <p>Nesta avaliação, meu objetivo é demonstrar minhas habilidades no desenvolvimento de aplicações web utilizando Angular. O objetivo da atividade era criar uma aplicação que permite listar, cadastrar, editar e excluir Pessoas, seguindo as seguintes etapas:</p>
        <p>Configuração Inicial do Projeto: Comecei criando um projeto Angular 16 e o hospedei no StackBlitz.com para facilitar o acesso e revisão.</p>
        <p>Página de Listagem de Pessoas: Desenvolvi uma página com uma tabela que exibe detalhes como ID, Nome, Perfil, Idade, E-mail, Ativo, País e Nível de Experiência. Além disso, adicionei uma coluna de Ações com botões de Editar e Excluir. Implementei funcionalidades onde o botão Editar direciona para a página de edição e o botão Excluir solicita confirmação antes de remover uma Pessoa.</p>
        <p>Página de Cadastro de Pessoas: Implementei um formulário de cadastro com campos obrigatórios como Nome, Perfil, Idade e E-mail. Incluí opcionalmente campos como Ativo, País e Nível de Experiência.</p>
        <p>Página de Edição de Pessoas: Similar ao formulário de cadastro, criei um formulário de edição para atualizar os detalhes de uma Pessoa existente.</p>
        <p>Diretrizes Seguidas: Utilizei interfaces/typescript para tipar objetos de Pessoa, evitando o uso de any. Implementei validações robustas nos campos de cadastro/edição, incluindo verificação de tamanho, tipo numérico. Além disso, assegurei que o componente de tabela recebesse o array de Pessoas como entrada usando @Input.</p>
        <p>Esta avaliação não apenas testou minha capacidade técnica em Angular, mas também minha habilidade em seguir boas práticas de desenvolvimento e arquitetura de software.</p>
    </div>    
</div>
