<div class="container">
    <h1 class="mt-5 text-center">Lista de Pessoas:</h1>

    <table class="table table-bordered border-dark mt-5">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Perfil</th>
                <th scope="col">Idade</th>
                <th scope="col">Ativo</th>
                <th scope="col">País</th>
                <th scope="col">Nível de Experiência</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let profile of profiles">
                <th scope="row">{{ profile.id }}</th>
                <td>{{ profile.nome }}</td>
                <td>{{ profile.perfil }}</td>
                <td>{{ profile.idade }}</td>
                <td>{{ profile.ativo ? 'Sim' : 'Não' }}</td>
                <td>{{ profile.pais }}</td>
                <td>{{ profile.nivelExperiencia }}</td>
                <td>
                    <a class="btn btn-primary btn-sm me-2 mb-2" routerLink="/profile/edit/{{profile.id}}">Editar</a>
                    <button class="btn btn-danger btn-sm mb-2" (click)="deletarPessoa(profile.id)">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
    <a type="button" class="btn btn-primary" routerLink="/profile/create">Cadastrar</a>
</div>
