<div>
    <form>
        <div class="mb-3">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" class="form-control" id="nome">
        </div>
        <div class="mb-3">
            <label for="perfil" class="form-label">Perfil:</label>
            <input type="text" class="form-control" id="perfil">
        </div>
        <div class="mb-3">
            <label for="idade" class="form-label">Idade:</label>
            <input type="text" class="form-control" id="idade">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">E-mail:</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
          </div>
        <div class="mb-3">
            <label for="pais" class="form-label">País</label>
            <input type="text" class="form-control" id="pais">
        </div>
        <div class="mb-3">
            <label for="nome" class="form-label">Nível de Experiência</label>
            <input type="text" class="form-control" id="nome">
        </div>


        <button type="submit" class="btn btn-info">Cadastrar</button>
    </form>
</div>